body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

@import url('https://fonts.googleapis.com/css?family=Audiowide');

a.navbar-brand {
  font-family: 'Audiowide', cursive;
}

#bs-example-navbar-collapse-1 a {
    font-size: 140%;
}

.no-auto-collapse{
    overflow: hidden;
}

a.btn-default {
    margin-bottom: 10px;
    float: right;
}

.navbar-brand > img {
    height: 38px;
    margin-top: -9px;
}


.tab-pane {
    padding-top: 20px;
}

.panel-body {
    margin: 15px 10px 5px 10px;
}

.badge {
    margin-left: 5px;
}

.space-arround {
    margin: 10px 5px 20px 20px;
}

/* Forms */

label {
    margin-top: 25px;
}

/* Submmit button */
.submit {
    margin-top: 35px;
}

.image-resource {
    margin-bottom: 30px;
}

/* Image display */

.ekko-lightbox-nav-overlay span {
    color: gray;
}

.thumbnail {
    padding: 4px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


 /* Footer */

footer {
    color: #fff;
    margin-bottom: 0;
    margin-top: 30px;
}

footer .footer-above {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #03A6E3;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #069;
    margin-bottom: 0;
}


/* TESTS */

