# If you need change it and rename this file to secrets.py
# Python will blame if no secrets.py file exists


# NOT actual production key.
# Used for illustration purposes and automated tests
SECRET_KEY = 'amw7_&9dwh&=1-2d2oodmbyayd0fdl&+8wnh&h$6r=-yn%6bez'
