{% extends 'projects/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}
    {{ "Projects" }} | {{ block.super }}
{% endblock title %}

{% block content %}


    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ project.title }}
                <small>Project</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <ol class="breadcrumb">
        <li><a href="{% url 'root' %}">Home</a></li>
        <li><a href="{% url 'projects:index' %}">Projects</a></li>
        <li class="active">Detail</li>
    </ol>


<ul class="nav nav-tabs responsive" id="myTab">
  <li class="active"><a href="#home">Information</a></li>
  <li><a href="#instructions">Instructions</a></li>
</ul>

<div class="tab-content responsive">
  <div class="tab-pane active" id="home">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        {{ project.description|safe }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
      </div>
      <div class="panel-body">
        {{ project.details|safe }}
      </div>
    </div>

  </div>
  <div class="tab-pane" id="instructions">

      <!-- List group -->
      <ul class="list-group">
          {% for steep in project.buildsteep_set.all %}
        <li class="list-group-item">{{ steep.content }}</li>
          {% endfor %}
      </ul>
    </div>

  </div>
</div>


{% endblock content %}