{% extends 'projects/base.html' %}
{% load i18n %}
{% load humanize %}

{% block extraHeader %}
    {{ form.media }}
{% endblock %}

{% block title %}
    {{ "Create blog entry" }} | {{ block.super }}
{% endblock title %}

{% block content %}


    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create
                <small>Blog entry</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <ol class="breadcrumb">
        <li><a href="{% url 'root' %}">Home</a></li>
        <li><a href="{% url 'projects:index' %}">Projects</a></li>
        <li><a href="{% url 'projects:blog' project.pk %}">{{ project.title }}</a></li>
        <li class="active">Create</li>
    </ol>

<hr>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
      <h3>{{ form.title.label_tag }}</h3>
      {% if form.title.errors %}
        <div class="alert alert-warning" role="alert">{{ form.title.errors }}</div>
      {% endif %}
      {{ form.title }}
    </div>
    <div class="fieldWrapper">
        <h3>{{ form.content.label_tag }}</h3>
        {% if form.content.errors %}
            <div class="alert alert-warning" role="alert">{{ form.content.errors }}</div>
        {% endif %}
          {{ form.content }}
    </div>
    <div class="fieldWrapper row">
        <h3>{{ form.image.label_tag }}</h3>
        {% if form.image.errors %}
            <div class="alert alert-warning" role="alert">{{ form.image.errors }}</div>
        {% endif %}
        {% if form.clear.errors %}
            <div class="alert alert-warning" role="alert">{{ form.image.errors }}</div>
        {% endif %}
         {% if entry.image %}
          <img class="col-sm-6 img-responsive image-resource thumbnail img-fluid" height="200px" src="{{ entry.image.url }}" alt="">
        {% endif %}
        <div class="{{ entry.image|yesno:"col-md-6,col-md-12" }}">
          {{ form.image }}
          {{ form.clear }} <p>Clear</p>
        </div>
    </div>
    <div class="fieldWrapper">
        <h3>{{ form.pub_date.label_tag }}</h3>
        {% if form.pub_date.errors %}
            <div class="alert alert-warning" role="alert">{{ form.pub_date.errors }}</div>
        {% endif %}
          {{ form.pub_date }}
    </div>


    <input type="submit" value="Save" class="btn btn-primary btn-lg submit" />
    </form>

    {% if entry %}
    <form action="{% url 'projects:deleteBlog' project.pk entry.pk %}" method="POST"
        onsubmit="return confirm('This action connot be undone. Proceed?');">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg submit">Delete</button>
    </form>
    {% endif %}


<hr>

{% endblock content %}