{% extends 'projects/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}
    {{ "Projects" }} | {{ block.super }}
{% endblock title %}

{% block content %}


    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Projects
                <small>All</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <ol class="breadcrumb">
        <li><a href="{% url 'root' %}">Home</a></li>
        <li class="active">Projects</li>
    </ol>

{% for project in projects %}
    {% if not forloop.counter|divisibleby:"2"  %}
            <!-- Projects Row -->
            <div class="row">
    {% endif %}
        {% url 'projects:detail' project.pk as url%}
            <div class="col-md-6 img-portfolio">
                <div class="well">
                <a href="{{ url }}">
                    <img class="img-responsive img-hover " src="{{ project.thumbnail.url }}" alt="">
                </a>
                <h3>
                    <a href="{{ url }}">{{ project.title }}</a>
                </h3>
                <p>{{ project.summary }}</p>

                </div>
            </div>

    {% if forloop.counter|divisibleby:"2" or forloop.last %}
            </div>
    {% endif %}
{% empty %}
    <p>No projects are available.</p>
{% endfor %}

<hr>
<nav aria-label="Page navigation">
  <div class="row text-center">
  <div class="col-lg-12">
  <ul class="pagination pagination-lg">
    <li {% if not projects.has_previous %} class="disabled" {% endif %}>
      <a href="{% if projects.has_previous %}{% url 'projects:indexI' projects.previous_page_number %}
               {% else %}#{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for pageNum in projects.paginator.page_range %}
      <li {% if pageNum == projects.number %}class="active"{% endif %}>
          <a href="{% url 'projects:indexI' pageNum %}">{{ pageNum }}</a>
      </li>
    {% endfor %}
    <li {% if not projects.has_next %} class="disabled" {% endif %}>
      <a href="{% if projects.has_next %}{% url 'projects:indexI' projects.next_page_number %}
               {% else %}#{% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  </div>
  </div>
</nav>
<hr>

{% endblock content %}