{% extends 'projects/base.html' %}
{% load i18n %}
{% load humanize %}


{% block title %}
    {{ "Projects" }} | {{ block.super }}
{% endblock title %}


{% block content %}

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ project.title }}
            <small>Project</small>
        </h1>
    </div>
</div>

<!-- /.row -->
<ol class="breadcrumb">
    <li><a href="{% url 'root' %}">Home</a></li>
    <li><a href="{% url 'projects:index' %}">Projects</a></li>
    <li class="active">Detail</li>
</ol>

<!-- TABS -->
<ul class="nav nav-tabs">
  <li {% if tab == 'detail' %} class="active" {% endif %}>
      <a {% if not tab == 'detail' %} href="{% url "projects:detail" project.pk %}" {% endif %}>
          Information
      </a>
  </li>
  <li {% if tab == 'instructions' %} class="active" {% endif %}>
      <a {% if not tab == 'instructions' %} href="{% url "projects:instructions" project.pk %}" {% endif %}>
          Instructions <span class="badge">{{  project.buildsteep_set.count }}</span>
      </a>
  </li>
  <li {% if tab == 'blog' %} class="active" {% endif %}>
      <a {% if not tab == 'blog' %} href="{% url "projects:blog" project.pk %}" {% endif %}>
          Blog <span class="badge">{{  project.blogentry_set.count }}</span>
      </a>
  </li>
</ul>

<!-- Tab content -->

{% if tab == 'detail' %}

    <div class="no-auto-collapse">
    <a type="button" class="btn btn-default space-arround" aria-label="Left Align"
       href="{% url 'projects:edit' project.pk %}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        {% if project.thumbnail %}
        <a class="pop col-md-4" href="{{ project.thumbnail.url }}" data-toggle="lightbox">
          <img class="img-responsive image-resource thumbnail img-fluid" height="300px" src="{{ project.thumbnail.url }}" alt="">
        </a>
        {% endif %}
        {{ project.description|safe }}
      </div>
    </div>

    {% if project.details %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
      </div>
      <div class="panel-body">
        {{ project.details|safe }}
      </div>
    </div>
    {% endif %}

{% elif tab == 'instructions' %}

    <div class="no-auto-collapse">
      <a type="button" class="btn btn-default space-arround" aria-label="Left Align"
         href="{% url 'projects:addSteep' project.pk %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>

    {% for steep in project.buildsteep_set.all %}
      <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">
          {% if steep.name %} {{ steep.name }}
          {% else %} Steep {{ forloop.counter }} {% endif %}
          </h3></div>
      <div class="panel-body">
      <div class="no-collapse">
        <a type="button" class="btn btn-default" aria-label="Left Align"
           href="{% url 'projects:editSteep' project.pk steep.pk %}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </div>
      {{ steep.content|safe }}
      {% if steep.resource_set.all %}
        <div class="row">
          {% for image in steep.resource_set.all %}
            {% if image.type == 'IMG' and image.file_url %}
              <div class="col-md-2 col-sm-4 col-xs-6">
                <a class="pop" href="{{ image.file.url }}" data-toggle="lightbox" data-title="{{ image.name }}" data-gallery="{{ steep.pk }}">
                  <img class="img-responsive image-resource thumbnail img-fluid" height="300px" src="{{ image.thumbnail.url }}" alt="">
                </a>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}
      </div>
      </div>
    {% empty %}
        <div class="alert alert-info" role="alert"><p>No instructions. To add one click the "+" button above.</p></div>
    {% endfor %}

{% elif tab == 'blog' %}

    <div id="blog">
    <div class="no-auto-collapse">
      <a type="button" class="btn btn-default space-arround" aria-label="Left Align"
          href="{% url 'projects:addBlog' project.pk %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>

    {% for blogEntry in project.blogentry_set.all|dictsortreversed:"pub_date"  %}
      {% if blogEntry.is_after_publish_date %}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ blogEntry.title }}</h3> <small>{{ blogEntry.pub_date|date }} {{ blogEntry.pub_date|date:'G:i' }}</small>
        <a type="button" class="btn btn-default"
          href="{% url 'projects:editBlog' project.pk blogEntry.pk %}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </div>

      <div class="panel-body no-collapse">
      {% if blogEntry.image %}
        <a class="pop col-md-6" href="{{ blogEntry.image.url }}" data-toggle="lightbox" data-gallery="{{ blogEntry.pk }}">
          <img class="img-responsive image-resource thumbnail img-fluid" height="300px" src="{{ blogEntry.image.url }}" alt="">
        </a>
      {% endif %}

      {{ blogEntry.content|safe }}

      </div>
      </div>
      {% endif %}
    {% empty %}
        <div class="alert alert-info" role="alert"><p>No blog posts. To add one click the "+" button above.</p></div>
    {% endfor %}
    </div>


{% endif %}

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

{% endblock content %}