{% extends 'projects/base.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

    <h1>{% trans "Still works:" context "Main test page" %} {% now "jS F Y H:i" as date %} </h1>
    {% lorem 2 p %}

    {% url 'projects:tests' as the_url %}
    {% blocktrans trimmed %}
        This is a URL: {{ the_url }}
    {% endblocktrans %}

    {{ request.path }}

    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}"/>
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_translated }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go"/>
    </form>

    <h2>Localization:</h2>
    <p>{{ float|intcomma }}</p>
{% endblock %}